<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="automatic" value="False" />
	</packageRestore>
	<packageSources>
		<clear />
        <add key="HQY-v2" value="\\HQY-SYSDATA\NuGetPackages\v2" />
        <add key="HQY-v3" value="\\HQY-SYSDATA\NuGetPackages\v3" />
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
		<!--<add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />-->
	</packageSources>
	<disabledPackageSources>
		
	</disabledPackageSources>
	<activePackageSource>
		<add key="All" value="(Aggregate source)"  />
	</activePackageSource>
</configuration>